body {
    background-image: url("/background/background.png");
    background-repeat: no-repeat;
    background-position-x: 100%;
    background-position-y: 0%;
    background-size: 80%;
}

h2 {
    margin: 0;
}

.tab-n1 {
    border: 0.2rem solid black;
    padding: 0.3rem 1.2rem;
    box-sizing: border-box;
    margin-right: 0.3rem;
}

.tab-n2 {
    border: 0.2rem solid black;
    padding: 0.3rem 1.2rem;
    box-sizing: border-box;
    position: relative;
}

.basket {
    height: 10rem;
    width: 10rem;
    margin: 0 auto;
    border: 0.1rem black solid;
    user-select: none;
    transition: background-color 200ms ease-in-out 0s;
}

.basket.failed {
    background-color: red;
}

.basket.correct {
    background-color: green;
}

.basket * {
    pointer-events: none;
}

.basket.open g.lid {
    transform-origin: 0% 100%;
    transform: translateY(2.5rem) translateX(2rem) rotateZ(-12deg);
}

.basket.open g.bag {
    transform-origin: center;
    transform: rotateX(30deg);
}

.basket.open g.top {
    transform-origin: 50% 10%;
    transform: scale(1.1);
}

.basket,open g.knot {
    transform-origin: 50% 20%;
    transform: scale(1.1);
}

.task {
    height: 5rem;
    width: 5rem;
    margin-left: 2rem;
    user-select: none;
}

.extra-task-calc {
    height: 15rem;
    width: 15rem;
    user-select: none;
    margin: 0 auto;
    padding: 3.4rem;
    border: 0.4rem solid black;
    position: relative;
    background-image: url("../assets/chip.svg");
}

.extra-task-calc-fuse {
    display: block;
    position: absolute;
    top: 12.5rem;
    left: -1.8rem;
    height: 3rem;
    width: 3rem;
}

.health-bar-filled {
    margin-left: 0.3rem;
}

.health-bar-filled::before {
    content: " ";
    display: block;
    height: 2rem;
    width: 2rem;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    background: blue;
    margin-left: 0.2rem;
    animation: police-light 1s ease-in-out 0s infinite alternate;
}

.health-bar-filled::after {
    content: " ";
    display: block;
    height: 1rem;
    width: 2.4rem;
    border-top-left-radius: 0.3rem;
    border-top-right-radius: 0.3rem;
    background: black;
}

.health-bar-outline {
    margin-left: 0.3rem;
}

.health-bar-outline::before {
    content: " ";
    display: block;
    height: 2rem;
    width: 2rem;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border: 0.2rem solid black;
    border-bottom-width: 0.1rem;
    box-sizing: border-box;
    margin-left: 0.2rem;
}

.health-bar-outline::after {
    content: " ";
    display: block;
    height: 1rem;
    width: 2.4rem;
    border-top-left-radius: 0.3rem;
    border-top-right-radius: 0.3rem;
    box-sizing: border-box;
    border: 0.2rem solid black;
    border-top-width: 0.1rem;
}

.basket-container {
    margin-top: 20px;
    padding: 0 2rem;
    display: flex;
}

.paper-container {
    margin-top: 20px;
    display: flex;
}

.paper-container.disabled {
    position: relative;
}

.paper-container.disabled .task {
    opacity: 0.5;
}

.alert-line {
    display: none;
    z-index: 1;
    height: 100%;
    width: 100%;
}

.paper-container.disabled .alert-line {
    display: inline;
    position: absolute;
}

.paper-container.disabled .alert-line g {
    animation: alert-line 1s linear 0s infinite forwards;
}

.hp-container {
    margin-top: 20px;
    display: flex;
}

.blue-light {
    fill: blue;
    animation: shine-blue-light 700ms ease-in-out 0s infinite alternate;
}

.red-light {
    fill: red;
    animation: shine-red-light 700ms ease-in-out 0s infinite alternate;
}

@keyframes timer {
    0% {
        opacity: 1;
        background: white;
    }
    99.5% {
        opacity: 0.1;
        background: white;
    }
    100% {
        background: red;
    }
}

@keyframes police-light {
    0% {
        background-color: blue;
    }
    100% {
        background-color: red;
    }
}

@keyframes shine-blue-light {
    0% {
        fill: #0000d0;
    }
    100% {
        fill: blue;
    }
}

@keyframes shine-red-light {
    0% {
        fill: #d00000;
    }
    100% {
        fill: red;
    }
}

@keyframes alert-line {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(20%);
    }
}

@keyframes alert-line-down {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(25%);
    }
}

@keyframes calc-task-fuse {
    0% {
        transform: translateY(0);
    }
    25% {
        transform: translateY(-14rem);
    }
    50% {
        transform: translateX(15rem) translateY(-14rem);
    }
    75% {
        transform: translateY(0.5rem) translateX(15rem);
    }
    100% {
        transform: translateX(0) translateY(0.5rem);
    }
}

@keyframes calc-task {
    0% {
        border: 0.4rem solid black;
    }
    25% {
        border: 0.4rem solid black;
        border-left: 0.4rem solid gray;
    }
    50% {
        border: 0.4rem solid black;
        border-left: 0.4rem solid gray;
        border-top: 0.4rem solid gray;
    }
    75% {
        border: 0.4rem solid black;
        border-left: 0.4rem solid gray;
        border-top: 0.4rem solid gray;
        border-right: 0.4rem solid gray;
    }
    100% {
        border: 0.4rem solid black;
        border-left: 0.4rem solid gray;
        border-top: 0.4rem solid gray;
        border-bottom: 0.4rem solid gray;
    }
}

@media only screen and (max-width: 991px) {
    .tab-n1 {
        margin-right: 0;
        margin-bottom: 0.3rem;
    }

    .paper-container.disabled .alert-line g {
        animation: alert-line-down 1s linear 0s infinite forwards;
    }
}
