body {
    background-image: url("/background/background.png");
    background-repeat: no-repeat;
    background-position-x: 100%;
    background-position-y: 0%;
    background-size: 80%;
}

h2 {
    margin: 0;
}

.tab-n1 {
    border: 0.2rem solid black;
    padding: 0.3rem 1.2rem;
    box-sizing: border-box;
    margin-right: 0.3rem;
}

.tab-n2 {
    border: 0.2rem solid black;
    padding: 0.3rem 1.2rem;
    box-sizing: border-box;
}

.basket {
    height: 10rem;
    width: 10rem;
    margin: 0 auto;
    border: 0.1rem black solid;
    user-select: none;
    transition: background-color 200ms ease-in-out 0s;
}

.basket.failed {
    background-color: red;
}

.basket.correct {
    background-color: green;
}

.basket * {
    pointer-events: none;
}

.basket.open g.lid {
    transform-origin: 0% 100%;
    transform: translateY(2.5rem) translateX(2rem) rotateZ(-12deg);
}

.basket.open g.bag {
    transform-origin: center;
    transform: rotateX(30deg);
}

.basket.open g.top {
    transform-origin: 50% 10%;
    transform: scale(1.1);
}

.basket,open g.knot {
    transform-origin: 50% 20%;
    transform: scale(1.1);
}

.task {
    height: 5rem;
    width: 5rem;
    margin-left: 2rem;
    user-select: none;
}

.extra-task-calc {
    height: 15rem;
    width: 15rem;
    user-select: none;
    margin: 0 auto;
    padding: 3.4rem;
    border: 0.2rem solid black;
    background-image: url("/assets/chip.svg");
}

.health-bar-filled {
    margin-left: 0.3rem;
}

.health-bar-filled::before {
    content: " ";
    display: block;
    height: 2rem;
    width: 2rem;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    background: blue;
    margin-left: 0.2rem;
    animation: police-light 1s ease-in-out 0s infinite alternate;
}

.health-bar-filled::after {
    content: " ";
    display: block;
    height: 1rem;
    width: 2.4rem;
    border-top-left-radius: 0.3rem;
    border-top-right-radius: 0.3rem;
    background: black;
}

.health-bar-outline {
    margin-left: 0.3rem;
}

.health-bar-outline::before {
    content: " ";
    display: block;
    height: 2rem;
    width: 2rem;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border: 0.2rem solid black;
    border-bottom-width: 0.1rem;
    box-sizing: border-box;
    margin-left: 0.2rem;
}

.health-bar-outline::after {
    content: " ";
    display: block;
    height: 1rem;
    width: 2.4rem;
    border-top-left-radius: 0.3rem;
    border-top-right-radius: 0.3rem;
    box-sizing: border-box;
    border: 0.2rem solid black;
    border-top-width: 0.1rem;
}

.basket-container {
    margin-top: 20px;
    padding: 0 2rem;
    display: flex;
}

.paper-container {
    margin-top: 20px;
    display: flex;
}

.hp-container {
    margin-top: 20px;
    display: flex;
}

@keyframes timer {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes police-light {
    0% {
        background-color: blue;
    }
    100% {
        background-color: red;
    }
}
