<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">
    <script src="scripts/vue.js"></script>
    <title>Document</title>
</head>
<body>
    <div id="game" class="container">
        <div v-if="!game.isGameOver">
            <div class="hp-container">
                <h1>Wanted level:</h1>
                <div class="health-bar-filled" v-for="_ in Math.max(game.player.maxLives - game.player.lives, 0)"></div>
                <div class="health-bar-outline" v-for="_ in Math.max(game.player.lives, 0)"></div>
                <h1 style="margin-left: 20px">Haul value: {{ game.player.score }} €</h1>
            </div>
            <h1>Quick, grab all that is valuable! Discard the rest!</h1>
            <div class="basket-container">
                <img class="basket" draggable="false" v-for="(bin, index) in game.bins" :src="bin.imageUrl" @drop="bin.drop($event, bin)" @dragover.prevent="">
            </div>
            
            <div class="paper-container">
                <h1>Loot:</h1>
                <task-component v-for="(task, index) in game.tasks" 
                    :key="'task_' + task.id" :id="'task_' + task.id" :task="task" 
                    :game-over="game.isGameOver"></task-component>
            </div>
            <div v-if="game.extraTask">
                <h1>Disable the alarm!</h1>
                <task-component :key="'task_' + game.extraTask.id" :id="'task_' + game.extraTask.id" 
                    :task="game.extraTask" :game-over="game.isGameOver"></task-component>
            </div>
        </div>
        <div v-else>
            <h1>You have been busted!</h1>
            <h3>Final haul value: {{ game.player.score }} €</h3>
            <button @click="game.restart()" class="btn">Restart</button>
        </div>
    </div>
    <script src="scripts/main.js"></script>
</body>
</html>
