<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no">
    <title>Kodutöö hindamine</title>
    <link href="css/bootstrap/bootstrap.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">  
    <script src="scripts/vue/vue.js"></script>
</head>
<body>
    <div id="app" class="container">
        <form>
            <p>Groups</p>
            <div v-for="group in groups">
                <p>Students</p>
                <div v-for="(student, index) in group.students">
                    <label>Username</label>
                    <input type="text" v-model="student.username">
                    <button type="button" @click="group.removeStudent(index)">Remove student</button>
                </div>
                <button type="button" @click="group.addStudent()">Add student</button>
                <p>Project</p>
                <div>
                    <label>Url</label>
                    <input type="url" v-model="group.project.url">
                    <p>Date: {{(new Date()).toLocaleString()}}</p>
                    <p>Deadline: {{(new Date(deadline)).toLocaleString()}}</p>
                    <p>Extended deadline: {{(new Date(group.project.getExtendedDeadline())).toLocaleString()}} (extended {{group.project.deadlineExtensionCount}} weeks)</p>
                    <p v-if="group.project.getTimeRemaining() >= 0">Time remaining: {{getTimeString(group.project.getTimeRemaining())}}</p>
                    <p v-else>Time over deadline: {{getTimeString(-group.project.getTimeRemaining())}}</p>
                    <label for="Extend deadline"></label>
                    <input type="number" v-model="group.project.deadlineExtensionCount">
                    <p>plagiarism: {{group.project.plagiarism.isPlagiarized}} <button type="button" @click="group.project.plagiarism.togglePlagiarism()">Switch plagiarism</button></p>
                    <p>Score: {{group.project.getScore() + '/' + (group.project.base.maximumScore + group.project.extra.maximumScore)}}</p>
                    <p>Passed: {{group.project.getScore() >= minimumPassingScore}}</p>
                    <p>Deadline missed penalty: {{Project.getDelayScore(-group.project.getTimeRemaining())}}</p>
                    <p>Base score: {{group.project.base.getScore() + '/' + group.project.base.maximumScore}}</p>
                    <div v-for="base in group.project.base.elements">
                        <p>{{base.shortName}}</p>
                        <label>Score</label>
                        <input type="number" v-model="base.score">
                        <label>Comment</label>
                        <input type="text" v-model="base.reason">
                    </div>
                    <p>Extra score: {{group.project.extra.getScore() + '/' + group.project.extra.maximumScore}}</p>
                    <div v-for="extra in group.project.extra.elements">
                        <p>{{extra.shortName}}</p>
                        <label>Score</label>
                        <input type="number" v-model="extra.score">
                        <label>Comment</label>
                        <input type="text" v-model="extra.reason">
                    </div>
                    <p>Bonus score: {{group.project.bonus.getScore()}}</p>
                    <div v-for="(bonus, bonusIndex) in group.project.bonus.elements">
                        <label>Score</label>
                        <input type="number" v-model="bonus.score">
                        <label>Comment</label>
                        <input type="text" v-model="bonus.reason">
                        <button type="button" @click="group.project.bonus.removeBonus(bonusIndex)">Remove bonus</button>
                    </div>
                    <button type="button" @click="group.project.bonus.addBonus()">Add a bonus</button>
                    <p>Negative score: {{group.project.negative.getScore()}}</p>
                    <div v-for="(negative, negativeIndex) in group.project.negative.elements">
                        <label>Score</label>
                        <input type="number" v-model="negative.score">
                        <label>Comment</label>
                        <input type="text" v-model="negative.reason">
                        <button type="button" @click="group.project.negative.removeNegative(negativeIndex)">Remove negative</button>
                    </div>
                    <button type="button" @click="group.project.negative.addNegative()">Add a negative</button>
                </div>
            </div>
            <!--<div v-for="(student, index) in students">
                <div class="form-group row">
                    <label for="user_name" class="col-sm-12 col-md-2 col-form-label">Kasutajanimi</label>
                    <div class="input-group col-sm-12 col-md-10">
                        <input type="text" id="user_name" v-model="student.username" class="form-control">
                        <div class="invalid-feedback">Error here</div>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="project_url" class="col-sm-12 col-md-2 col-form-label">URL</label>
                    <div class="input-group col-sm-12 col-md-10">
                        <input type="text" id="project_url" class="form-control" v-model="student.url.value" :placeholder="getDefaultUrl(student)" :readonly="student.url.isPlaceholder">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" type="button" @click="openUrl(student)">Ava</button>
                        </div>
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" type="button" @click="changeUrlValueToDefault(student)">Algsätesta</button>
                        </div>
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" type="button" @click="changeUrlIsPlaceholder(student)">Muuda</button>
                        </div>
                        <div class="invalid-feedback">Error here</div>
                    </div>
                </div>
            </div>-->
        </form>
    </div>
    <script src="scripts/main.js"></script>
</body>
</html>
