<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no">
    <title>Kodutöö hindamine</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic|Material+Icons">
    <link rel="stylesheet" href="css/vue-material.min.css">
    <link rel="stylesheet" href="css/theme/default.css">
    <link href="css/main.css" rel="stylesheet">  
    <script src="scripts/vue/vue.js"></script>
    <script src="scripts/vue-material.min.js"></script>
    <script src="scripts/popper/popper.min.js"></script>
    <script src="scripts/tooltip/tooltip.min.js"></script>
</head>
<body style="overflow-x:hidden">
    <span id="ruler"></span>
    <div id="app" class="md-layout md-gutter">

        <md-toolbar style="z-index: 4; min-height: 4rem">
            <h3 class="md-title" style="margin-left: 25%">Kodutöö 2 hindamine</h3>
        </md-toolbar>
            
        <div class="md-layout-item">
            <md-drawer style="position: fixed;" :md-permanent="isSmallScreen ? null : 'full'" :md-active.sync="showMenu" md-fixed>
                <div style="margin-top: 5rem">
                    <div v-if="isProjectSelected">
                        <md-button style="width: 100%; padding-left: 0; padding-right: 0; margin-left: 0; margin-right: 0" 
                            @click="scrollToHeading(0)"
                            class="md-raised drawer-button" :md-ripple="false">Meeskond</md-button>
                        <div class="drawer-content">
                            <div class="md-layout" v-for="(student, idx) in group.studentStrings">
                                <div class="md-layout-item">Liige {{idx + 1}}</div>
                                <div class="md-layout-item">{{student}}</div>
                                <md-divider class="md-layout-item md-size-100" v-if="idx != group.studentStrings.length - 1"></md-divider>
                            </div>
                        </div>
                    </div>
                    <div v-if="isProjectSelected">
                        <md-button style="width: 100%; padding-left: 0; padding-right: 0; margin-left: 0; margin-right: 0" 
                            class="md-raised drawer-button" :md-ripple="false" @click="scrollToHeading(1)">Hindamine</md-button>
                        <div class="drawer-content">
                            <div class="md-layout">
                                <div class="md-layout-item">Skoor kokku</div>
                                <div class="md-layout-item">{{ group.project.getScore() + '/' + (group.project.base.maximumScore + group.project.extra.maximumScore) }}</div>
                            </div>
                            <md-divider></md-divider>
                            <div class="md-layout">
                                <span class="md-layout-item">Miinimum ületatud?</span>
                                <span class="md-layout-item">{{group.project.getScore() >= minimumPassingScore ? 'jah' : 'ei'}}</span>
                            </div>
                            <md-divider></md-divider>
                            <div class="md-layout">
                                <div class="md-layout-item">Baasosa</div>
                                <div class="md-layout-item">{{ group.project.base.getScore() + '/' + group.project.base.maximumScore }}</div>
                            </div>
                            <md-divider></md-divider>
                            <div class="md-layout">
                                <div class="md-layout-item">Lisaosa</div>
                                <div class="md-layout-item">{{ group.project.extra.getScore() + '/' + group.project.extra.maximumScore }}</div>
                            </div>
                            <md-divider></md-divider>
                            <div class="md-layout">
                                <div class="md-layout-item">Boonuspunktid</div>
                                <div class="md-layout-item">{{ group.project.bonus.getScore() }}</div>
                            </div>
                            <md-divider></md-divider>
                            <div class="md-layout">
                                <div class="md-layout-item">Miinuspunktid</div>
                                <div class="md-layout-item">{{ group.project.negative.getScore() }}</div>
                            </div>
                            <md-divider v-if="group.project.getTimeRemaining() < 0"></md-divider>
                            <div class="md-layout" v-if="group.project.getTimeRemaining() < 0">
                                <span class="md-layout-item">Hilinemise eest miinuseid:</span>
                                <span class="md-layout-item">{{-Project.getDelayScore(-group.project.getTimeRemaining())}}</span>
                            </div>
                        </div>
                    </div>
                    <div v-if="isProjectSelected">
                        <md-button style="width: 100%; padding-left: 0; padding-right: 0; margin-left: 0; margin-right: 0" 
                            class="md-raised drawer-button" :md-ripple="false" @click="scrollToHeading(5)">Tähtaeg</md-button>
                        <div class="drawer-content">
                            <div class="md-layout">
                                <div class="md-layout-item">Ülesande tähtaeg:</div>
                                <div class="md-layout-item">{{new Date(deadline).toLocaleString()}}</div>
                            </div>
                            <md-divider></md-divider>
                            <div class="md-layout">
                                <span class="md-layout-item">Projektile antud pikendust:</span>
                                <span class="md-layout-item">{{group.project.deadlineExtensionCount}} {{group.project.deadlineExtensionCount === 1 ? 'nädal' : 'nädalat'}}</span>
                            </div>
                            <md-divider></md-divider>
                            <div class="md-layout" v-if="group.project.deadlineExtensionCount > 0">
                                <span class="md-layout-item">Projekti tähtaeg pikendusega:</span>
                                <span class="md-layout-item">{{new Date(group.project.getExtendedDeadline()).toLocaleString()}}</span>
                            </div>
                            <md-divider v-if="group.project.deadlineExtensionCount > 0"></md-divider>
                            <div class="md-layout" v-if="group.project.getTimeRemaining() >= 0">
                                <span class="md-layout-item">Aega jäänud:</span>
                                <span class="md-layout-item">{{getTimeString(group.project.getTimeRemaining(), {seconds:true})}}</span>
                            </div>
                            <div class="md-layout" v-if="group.project.getTimeRemaining() < 0">
                                <span class="md-layout-item">Hilinenud:</span>
                                <span class="md-layout-item">{{getTimeString(-group.project.getTimeRemaining(), {seconds:true})}}</span>
                            </div>
                        </div>
                    </div>
                    <div v-if="isProjectSelected">
                        <md-button style="width: 100%; padding-left: 0; padding-right: 0; margin-left: 0; margin-right: 0" 
                            class="md-raised drawer-button" :md-ripple="false" @click="scrollToHeading(6)">Plagiaat</md-button>
                        <div class="drawer-content">
                            <div class="md-layout" v-if="isProjectSelected">
                                <span class="md-layout-item">Plagiaat?</span>
                                <span class="md-layout-item">{{group.project.plagiarism.isPlagiarized ? 'jah' : 'ei'}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </md-drawer>
        </div>

        <div class="md-layout-item md-size-80">
            <md-button @click="showMenu = !showMenu" 
                    class="md-fab md-fixed md-fab-top-left"
                    style="z-index: 99; position: fixed; top: 0; left: 1rem;" tabindex="-1" v-if="isSmallScreen">
                <md-icon>menu</md-icon>
            </md-button>
            <form id="main-form" class="md-layout md-alignment-top-left" @submit.prevent="" autocomplete="off">
                <md-card class="md-layout-item md-size-60 md-small-size-100" style="overflow-x:hidden; margin-bottom: 4rem;">
                    <md-card-header>
                        <div class="md-title header-marker">Meeskond</div>
                    </md-card-header>
                    <md-card-content>
                        <md-chips id="team" :class="['md-primary', {'md-invalid': !group.isStudentsValid}]" v-model="group.studentStrings"
                                @md-insert="group.addStudent" @md-delete="group.removeStudent" @md-click="group.setLeader"
                                md-placeholder="Lisa tudengid..." md-check-duplicated>
                            <template slot="md-chip" slot-scope="{ chip }">
                                <span>{{group.students[chip].username}}</span>
                            </template>
                            <md-button class="md-dense md-accent md-raised" style="position: absolute; right: 0; bottom: -0.3rem;" @click="triggerEnter()">lisa</md-button>
                            <div class="md-helper-text">Nimele vajutades genereeritakse vastav dijkstra URL</div>
                            <div class="md-error">{{ group.studentsErrorMsg }}</div>
                        </md-chips>
                        <md-field md-clearable style="margin-top: 2.3rem">
                            <label for="project_url">Projekti URL</label>
                            <md-input id="project_url" type="url" @change="group.project.url.update" v-model="group.project.url.url"></md-input>
                            <md-button @click="group.project.url.open" class="md-icon-button md-dense" tabindex="-1" v-if="group.project.url.firstTouch && group.project.url.url">
                                    <md-icon>open_in_new</md-icon>
                                </md-button>
                            <md-button @click="group.project.url.toggleUrl" class="md-icon-button md-dense" style="margin-right: 2.2rem;" tabindex="-1" v-if="group.project.url.firstTouch">
                                <md-icon v-if="group.project.url.url === group.project.url.dijkstraUrl">undo</md-icon>
                                <md-icon v-else>redo</md-icon>
                            </md-button>
                        </md-field>
                    </md-card-content>

                    <md-divider></md-divider>
                    <md-card-header>
                        <div class="md-title header-marker">Baasosa hindamine ({{group.project.base.getScore()}}/{{group.project.base.maximumScore}})</div>
                    </md-card-header>
                    <md-card-header>
                        <div class="md-subheader">Baasosa elemendid</div>
                    </md-card-header>
                    <md-card-content id="base_score_content" class="md-layout md-gutter md-alignment-center-left">
                        <div class="md-layout-item md-size-33 md-medium-size-50 md-small-size-50 md-xsmall-size-100" 
                                style="margin-bottom: 1.5rem"
                                v-for="baseScore in group.project.base.elements" :key="baseScore.shortName + baseScore.anchor">
                            <span>
                                {{baseScore.shortName}}
                            </span>
                            <span style="display: inline-flex;">
                                {{baseScore.anchor}} <md-icon style="margin-left: 0.3rem; font-size: 32px!important;" v-tooltip="{text: baseScore.description, container: 'base_score_content'}">info</md-icon>
                            </span>
                        </div>
                    </md-card-content>
                    <md-card-header style="padding-top: 0; margin-top: 0">
                        <span class="md-subheader">Baasosa hinne</span>
                    </md-card-header>
                    <md-card-content>
                        <div class="md-layout-item md-size-100 md-layout">
                            <div class="md-layout-item md-size-25 md-xsmall-size-50">
                                <md-radio @change="setIsBaseScoreOtherFalseAndUpdate(0)" v-model="group.project.base.score" :value="baseScoreValues[0]">0</md-radio>
                            </div>
                            <div class="md-layout-item md-size-25 md-xsmall-size-50">
                                <md-radio @change="setIsBaseScoreOtherFalseAndUpdate(1)" v-model="group.project.base.score" :value="baseScoreValues[1]">5</md-radio>
                            </div>
                            <div class="md-layout-item md-size-25 md-xsmall-size-50">
                                <md-radio @change="setIsBaseScoreOtherFalseAndUpdate(2)" v-model="group.project.base.score" :value="baseScoreValues[2]">10</md-radio>
                            </div>
                            <div class="md-layout-item md-size-25 md-xsmall-size-50" style="display: inline-block;">
                                <md-radio @change="setIsBaseScoreOtherTrueAndUpdate()" v-model="isBaseScoreOther" :value="true" style="margin-bottom: 0; padding-bottom: 0">Muu</md-radio>
                                <md-field :class="{'md-invalid': !group.project.base.isValid}">
                                    <label for="base_score">Skoor</label>
                                    <md-input @click="setIsBaseScoreOtherTrueAndUpdate" @change="group.project.base.validate()" min="0" max="10" id="base_score" type="number" v-model="group.project.base.score"></md-input>
                                    <span class="md-error">{{ group.project.base.errorMsg }}</span>
                                </md-field>
                            </div>
                        </div>
                        <div class="md-layout-item md-size-100" style="margin-top: 1rem">
                            <md-field>
                                <label>Kommentaar</label>
                                <md-textarea style="resize:none" v-model="group.project.base.comment"></md-textarea>
                                <span class="md-helper-text">Mittekohustuslik</span>
                            </md-field>
                        </div>
                    </md-card-content>

                    <md-divider></md-divider>
                    <md-card-header>
                        <div class="md-title header-marker">Lisaosa hindamine ({{group.project.extra.getScore()}}/{{group.project.extra.maximumScore}})</div>
                    </md-card-header>
                    <md-card-content id="extra_score_content" class="md-layout md-gutter md-alignment-center-left">
                        <div class="md-layout-item md-size-50 md-medium-size-50 md-small-size-50 md-xsmall-size-100"
                                v-for="(extraScore, extraScoreIdx) in group.project.extra.elements" :key="extraScore.shortName + extraScore.anchor">
                            <md-switch :id="'extra_score_switch_' + extraScoreIdx" v-model="extraScore.score" value="1">
                                <span>
                                    {{extraScore.shortName}}
                                </span>
                                <div style="display: inline-flex;">
                                    <span>{{extraScore.anchor}}</span>
                                    <md-icon style="position: relative; left: 0.4rem; top: 0rem; z-index: 10; font-size: 32px!important;" v-tooltip="{text: extraScore.description, container: 'extra_score_content'}">info</md-icon>
                                </div>
                            </md-switch>
                        </div>
                        <div class="md-layout-item md-size-100">
                            <md-field>
                                <label>Kommentaar</label>
                                <md-textarea style="resize:none" v-model="group.project.extra.comment"></md-textarea>
                                <span class="md-helper-text">Mittekohustuslik</span>
                            </md-field>
                        </div>
                    </md-card-content>

                    <md-divider></md-divider>
                    <md-card-header>
                        <div class="md-title header-marker">Boonuspunktid ({{group.project.bonus.getScore()}})</div>
                    </md-card-header>
                    <md-card-content>
                        <div class="md-layout md-gutter md-alignment-center-center" v-for="(bonusScore, bonusIdx) in group.project.bonus.elements" :id="'bonusScore_' + bonusIdx" :key="'bonusScore_' + bonusIdx">
                            <div class="md-layout-item md-size-20 md-xsmall-size-80">
                                <md-field :class="{ 'md-invalid': !bonusScore.isScoreValid }">
                                    <label>Boonus</label>
                                    <md-input onclick="this.select()" @change="bonusScore.validateScore()" 
                                            v-model="bonusScore.score" type="number" min="0"></md-input>
                                </md-field>
                            </div>
                            <div class="md-layout-item md-xsmall-size-20" v-if="isSmallScreen">
                                <md-button @click="group.project.bonus.removeBonus(bonusIdx)" class="md-icon-button md-dense md-raised md-accent" tabindex="-1">
                                    <md-icon>remove</md-icon>
                                </md-button>
                            </div>
                            <div class="md-layout-item md-size-70 md-xsmall-size-100">
                                <md-field :class="{ 'md-invalid': !bonusScore.isReasonValid }">
                                    <label>Põhjendus</label>
                                    <md-textarea @change="bonusScore.validateReason()" @blur.once="bonusScore.validateReason()"
                                        @keyup="evaluateAutogrow($event)"
                                            v-model="bonusScore.reason" md-autogrow></md-textarea>
                                </md-field>
                            </div>
                            <div class="md-layout-item md-size-10" v-if="!isSmallScreen">
                                <md-button @click="group.project.bonus.removeBonus(bonusIdx)" class="md-icon-button md-dense md-raised md-accent" tabindex="-1">
                                    <md-icon>remove</md-icon>
                                </md-button>
                            </div>
                            <div class="md-layout-item md-size-100">
                                <small class="error" style="position: relative; top: -1.3rem;">
                                    {{ bonusScore.scoreErrorMsg || bonusScore.reasonErrorMsg }}
                                </small>
                            </div>
                        </div>
                        <md-button @click="group.project.bonus.addBonus()" class="md-icon-button md-raised md-accent" tabindex="-1">
                            <md-icon>add</md-icon>
                        </md-button>
                    </md-card-content>

                    <md-divider></md-divider>
                    <md-card-header>
                        <div class="md-title header-marker">Miinuspunktid ({{group.project.negative.getScore()}})</div>
                    </md-card-header>
                    <md-card-content>
                        <div class="md-layout md-gutter md-alignment-center-center" v-for="(minusScore, minusIdx) in group.project.negative.elements" :id="'minusScore' + minusIdx" :key="'minusScore' + minusIdx">
                            <div class="md-layout-item md-size-20 md-xsmall-size-80">
                                <md-field :class="{ 'md-invalid': !minusScore.isScoreValid }">
                                    <label>Miinus</label>
                                    <md-input onclick="this.select()" @change="minusScore.validateScore()"
                                            v-model="minusScore.score" type="number" min="0"></md-input>
                                </md-field>
                            </div>
                            <div class="md-layout-item md-xsmall-size-20" v-if="isSmallScreen">
                                <md-button @click="group.project.negative.removeNegative(minusIdx)" class="md-icon-button md-dense md-raised md-accent" tabindex="-1">
                                    <md-icon>remove</md-icon>
                                </md-button>
                            </div>
                            <div class="md-layout-item md-size-70 md-xsmall-size-100">
                                <md-field :class="{ 'md-invalid': !minusScore.isReasonValid }">
                                    <label>Põhjendus</label>
                                    <md-textarea @change="minusScore.validateReason" @blur.once="minusScore.validateReason()"
                                            @keyup="evaluateAutogrow($event)"
                                            v-model="minusScore.reason" md-autogrow></md-textarea>
                                </md-field>
                            </div>
                            <div class="md-layout-item md-size-10" v-if="!isSmallScreen">
                                <md-button @click="group.project.negative.removeNegative(minusIdx)" class="md-icon-button md-dense md-raised md-accent" tabindex="-1">
                                    <md-icon>remove</md-icon>
                                </md-button>
                            </div>
                            <div class="md-layout-item md-size-100">
                                <small class="error" style="position: relative; top: -1.3rem;">
                                    {{ minusScore.scoreErrorMsg || minusScore.reasonErrorMsg }}
                                </small>
                            </div>
                        </div>
                        <md-button @click="group.project.negative.addNegative()" class="md-icon-button md-raised md-accent" tabindex="-1">
                            <md-icon>add</md-icon>
                        </md-button>
                    </md-card-content>

                    <md-divider></md-divider>
                    <md-card-header>
                        <div class="md-title header-marker">Tähtaeg</div>
                    </md-card-header>
                    <md-card-content class="md-layout">
                        <div class="md-layout-item">Ülesande tähtaeg</div>
                        <div class="md-layout-item">{{new Date(deadline).toLocaleString()}}</div>                        
                    </md-card-content>
                    <md-card-content class="md-layout md-alignment-center-center">
                        <div class="md-layout-item">Pikendust antud</div>
                        <div class="md-layout-item" style="align-content: center; display: flex;">
                            <md-button @click="group.project.decrementDeadline()" class="md-icon-button md-dense md-raised">
                                <md-icon style="font-size: 32px!important;">remove</md-icon>
                            </md-button>
                            <span style="display: inline-block; margin-top: 0.35rem">{{group.project.deadlineExtensionCount}} {{group.project.deadlineExtensionCount === 1 ? 'nädal' : 'nädalat'}}</span>
                            <md-button @click="group.project.incrementDeadline()" class="md-icon-button md-dense md-raised">
                                <md-icon style="font-size: 32px!important;">add</md-icon>
                            </md-button>
                        </div>
                    </md-card-content>
                    <md-card-content class="md-layout">
                        <div class="md-layout-item">Ülesande tähtaeg pikendusega</div>
                        <div class="md-layout-item">{{new Date(group.project.getExtendedDeadline()).toLocaleString()}}</div>                        
                    </md-card-content>
                    <md-card-content class="md-layout" v-if="group.project.getTimeRemaining() >= 0">
                        <div class="md-layout-item">Aega jäänud</div>
                        <div class="md-layout-item">{{getTimeString(group.project.getTimeRemaining(), {seconds: true})}}</div>                        
                    </md-card-content>
                    <md-card-content class="md-layout" v-else>
                        <div class="md-layout-item">Hilinenud</div>
                        <div class="md-layout-item">{{getTimeString(-group.project.getTimeRemaining(), {seconds: true})}}</div>                        
                    </md-card-content>

                    <md-card-header>
                        <div class="md-title header-marker">Plagiaat</div>
                    </md-card-header>
                    <md-card-content class="md-layout md-alignment-center-center">
                        <div class="md-layout-item">Plagiaat</div>
                        <div class="md-layout-item">
                            <div class="md-layout md-alignment-center-center">
                                <div class="md-layout-item">{{group.project.plagiarism.isPlagiarized ? 'jah' : 'ei'}}</div>
                                <div class="md-layout-item">
                                    <md-button class="md-raised md-accent" @click="group.project.plagiarism.togglePlagiarism()">
                                        {{group.project.plagiarism.isPlagiarized ? 'Märgi originaalina' : 'Märgi plagiaadina'}}
                                    </md-button>
                                </div>
                            </div>
                        </div>
                    </md-card-content>
                    <md-card-content style="margin-top: 0; padding-top: 0" class="md-layout" v-if="group.project.plagiarism.isPlagiarized">
                        <div class="md-layout-item">
                            <md-field :class="{'md-invalid': !group.project.plagiarism.isValid}">
                                <label>Põhjendus</label>
                                <md-textarea @keyup="evaluateAutogrow($event)" 
                                    @change="group.project.plagiarism.validate()" @blur.once="group.project.plagiarism.validate()"
                                    md-autogrow v-model="group.project.plagiarism.reason"></md-textarea>
                                <div class="md-error">{{ group.project.plagiarism.errorMsg }}</div>
                            </md-field>
                        </div>
                    </md-card-content> 
                    <md-card-actions style="margin-top: 2rem">
                        <md-button class="md-raised md-accent" @click.prevent="complete($event)" style="margin: 0 auto" type="button">Lõpeta hindamine</md-button>
                    </md-card-actions>   
                </md-card>
            </form>
        </div>

        <md-snackbar md-position="center" :md-duration="Infinity" :md-active.sync="showSnackbar" md-persistent>
            <span>Hinded salvestatud</span>
            <span>
                <md-button class="md-accent" @click="revert()">Taasta</md-button>
                <md-button class="md-primary" @click="showSnackbar = false">OK</md-button>
            </span>
        </md-snackbar>
    </div>
    <script src="scripts/main.js"></script>
</body>
</html>
